.container {
  padding: 0 2rem;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 2rem ;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}


.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site_layout_background {
  background: #fff;
}
.out{
    width:100px;
     z-index:100px; 
     position:absolute; 
     right:40px;
     top: 15px;
     float:right; 
  
  }